@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #F26522;
}

body {
  @apply bg-gray-50 text-slate-800;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    /* Thin scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #fcccb5;
    border-radius: 20px;
  }

  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #fcccb5 transparent;
  }
}